<template>
  <div style="padding: 1rem 1rem 1rem 0;">
    <h1>Dolomiti</h1>
    <fake-chart/>
    <el-row style="margin-top: 1rem">
      <el-col :span="12">
        <span style="font-size: 11pt">Show errors</span>
        <el-switch
          v-model="errors"
          active-color="#16a085"
          inactive-color="#bdc3c7">
        </el-switch>
      </el-col>
      <el-col :span="12" style="text-align: right;">
        <el-button size="mini" type="success">
          <font-awesome icon="check-double" size="xs"/>
          <span>Read all</span>
        </el-button>
      </el-col>
    </el-row>
    <el-alert
      title="success alert"
      type="success"
      description="more text description"
      show-icon>
    </el-alert>
    <el-alert
      title="info alert"
      type="info"
      description="more text description"
      show-icon>
    </el-alert>
    <el-alert
      title="warning alert"
      type="warning"
      description="more text description"
      show-icon>
    </el-alert>
    <el-alert
      title="error alert"
      type="error"
      description="more text description"
      show-icon>
    </el-alert>
  </div>
</template>

<script>
import {faCheckDouble} from '@fortawesome/free-solid-svg-icons'
import {library} from '@fortawesome/fontawesome-svg-core'
import FakeChart from './FakeChart'

library.add(faCheckDouble)

export default {
  name: 'DolomitiEvents',
  components: {FakeChart},
  data: () => ({
    errors: false,
    tableData: [{
      date: '2016-05-03',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-02',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-04',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-01',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-08',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-06',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-07',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }]
  })
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.el-alert {
  margin-top: 1rem;
}

h1 {
  margin: 0.5rem 0;
}
</style>
