<template>
  <div style="width: 100%; height: 100%;">
    <el-row :gutter="20">
      <el-col :span="12">
        <div id="invoices-label">Invoices</div>
      </el-col>
      <el-col :span="12" style="text-align: right">
        <el-button id="add-button" type="primary" round icon="el-icon-circle-plus">Add</el-button>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="24">
        <el-table id="dolomiti-table" :data="tableData">
          <el-table-column
            prop="date"
            label="Date"
            width="180">
          </el-table-column>
          <el-table-column
            prop="name"
            label="Name"
            width="180">
          </el-table-column>
          <el-table-column
            prop="address"
            label="Address">
          </el-table-column>
          <el-table-column width="40" style="text-align: center">
            <a href="#">
              <font-awesome icon="ellipsis-v" size="lg"/>
            </a>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {faEllipsisV} from '@fortawesome/free-solid-svg-icons'
import {library} from '@fortawesome/fontawesome-svg-core'

library.add(faEllipsisV)

export default {
  name: 'Dolomiti',
  data: () => ({
    tableData: [{
      date: '2016-05-03',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-02',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-04',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-01',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-08',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-06',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }, {
      date: '2016-05-07',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }]
  })
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#dolomiti-table {
  width: 100%;
  height: 100%;
}

#add-button {
  color: #F2F6FC;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: bold;
}

#invoices-label {
  font-size: 18pt;
  font-weight: bold;
  margin: 0.5rem 0;
}

.el-row {
  margin-bottom: 1rem;
}

.cell > a {
  color: #2c3e50
}

.hover-row > td > div > a {
  color: #ecf0f1
}
</style>
