<script>
import {defaults} from 'chart.js'
import {PolarArea} from 'vue-chartjs'

const random = (min, max) => {
  min = Math.ceil(min)
  max = Math.floor(max)
  return Math.floor(Math.random() * (max - min + 1)) + min
}

export default {
  name: 'FakeChart',
  extends: PolarArea,
  mounted () {
    console.log(defaults)
    // defaults.global.legend.display = false
    this.renderChart(this.data, {
      legend: {
        labels: {
          boxWidth: 20,
          fontColor: 'rgba(236, 240, 241, 1.0)'
        }
      },
      scale: {
        ticks: {
          display: false
        }
      }
    })
  },
  data: () => ({
    data: {
      labels: ['Errors', 'Info', 'Warning', 'Success', 'Debug'],
      datasets: [
        {
          data: [random(5, 30), random(5, 30), random(5, 30), random(5, 30), random(5, 30)],
          backgroundColor: [
            'rgba(231, 76, 60, 0.2)',
            'rgba(52, 152, 219, 0.2)',
            'rgba(241, 196, 15, 0.2)',
            'rgba(26, 188, 156, 0.2)',
            'rgba(149, 165, 166, 0.2)'
            // 'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(231, 76, 60, 1.0)',
            'rgba(52, 152, 219, 1.0)',
            'rgba(241, 196, 15, 1.0)',
            'rgba(26, 188, 156, 1.0)',
            'rgba(149, 165, 166, 1.0)'
            // 'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }
      ]
    }
  })
}
</script>

<style scoped>
canvas {
  padding: 0.5rem;
}
</style>
