<template>
  <div>
    <div id="cherrychain-brand">
      <img id="cherrychain-logo" src="@/assets/cherry-chain-logo.svg" alt="cherrychain-logo">
      <br>
      <img id="cherrychain-text" src="@/assets/cherry-chain-logo-text.svg" alt="cherrychain-text">
    </div>
    <div id="cherrychain-user">
      <img id="cherrychain-avatar" src="@/assets/gustavo.png" alt="cherrychain-avatar">
      <h5>Hello, Gustavo</h5>
    </div>
    <el-menu id="left-menu" default-active="1">
      <el-menu-item index="1">
        <font-awesome-layers fixed-width class="fa-3x fa-menu">
          <font-awesome icon="circle"/>
          <font-awesome icon="file-invoice-dollar" class="fa-inverse" transform="shrink-7"/>
        </font-awesome-layers>
        <span>Dolomiti</span>
      </el-menu-item>
      <el-menu-item index="2">
        <font-awesome-layers fixed-width class="fa-3x fa-menu">
          <font-awesome icon="circle"/>
          <font-awesome icon="money-bill-wave" class="fa-inverse" transform="shrink-7"/>
        </font-awesome-layers>
        <span>CherryBill</span>
      </el-menu-item>
      <el-menu-item index="3">
        <font-awesome-layers fixed-width class="fa-3x fa-menu">
          <font-awesome icon="circle"/>
          <font-awesome icon="hand-holding-usd" class="fa-inverse" transform="shrink-7"/>
        </font-awesome-layers>
        <span>CherryCrowd</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
import {library} from '@fortawesome/fontawesome-svg-core'
import {faCircle, faFileInvoiceDollar, faHandHoldingUsd, faMoneyBillWave} from '@fortawesome/free-solid-svg-icons'

library.add(faHandHoldingUsd, faMoneyBillWave, faFileInvoiceDollar, faCircle)

export default {
  name: 'Navbar'
}
</script>

<style scoped>
#left-menu {
  border: 0;
}

.el-menu {
  background-color: transparent;
}

.el-menu-item {
  border-left: transparent 0.5rem solid;
  font-variant: all-small-caps;
  color: #ecf0f1;
}

.el-menu-item:hover {
  background-color: #2c3e50;
}

.el-menu-item.is-active {
  background-color: #2c3e50;
  color: #DA4453;
  font-weight: bold;
  border-left: #DA4453 0.5rem solid;
}

.fa-menu {
  margin-right: 1.127rem;
  color: #F6BB42;
}

#cherrychain-brand, #cherrychain-user {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#cherrychain-logo {
  height: 64px;
}

#cherrychain-text {
  width: 160px;
}

#cherrychain-avatar {
  width: 64px;
}
</style>
