<template>
  <el-scrollbar id="app" style="width: 100%; height: 100%;">
    <el-container style="width: 100%; height: 100%;">
      <el-aside id="left-aside" width="13rem">
        <el-scrollbar>
          <navbar/>
        </el-scrollbar>
      </el-aside>
      <el-container>
        <el-header id="top-header">
          <el-autocomplete id="autocomplete-search" v-model="state3" :fetch-suggestions="search" placeholder="Search..." @select="select">
            <i class="el-icon-search el-input__icon" slot="suffix" @click="iconClick"></i>
            <template slot-scope="{ item }">
              <div class="value">{{ item.value }}</div>
              <span class="link">{{ item.link }}</span>
            </template>
          </el-autocomplete>
        </el-header>
        <el-container id="router-container">
          <router-view/>
        </el-container>
      </el-container>
      <el-aside id="right-aside" width="26rem">
        <router-view name="events"/>
      </el-aside>
    </el-container>
  </el-scrollbar>
</template>

<script>
import Navbar from './components/Navbar'

export default {
  name: 'App',
  components: {Navbar},
  data: () => ({
    links: [],
    state3: ''
  }),
  mounted () {
    this.links = this.loadAll()
  },
  methods: {
    open (key, path) {
      console.log(key, path)
    },
    close (key, path) {
      console.log(key, path)
    },
    search (queryString, cb) {
      const links = this.links
      const results = queryString ? links.filter(this.createFilter(queryString)) : links
      // call callback function to return suggestion objects
      cb(results)
    },
    createFilter (queryString) {
      return link => link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
    },
    loadAll () {
      return [
        {'value': 'vue', 'link': 'https://github.com/vuejs/vue'},
        {'value': 'element', 'link': 'https://github.com/ElemeFE/element'},
        {'value': 'cooking', 'link': 'https://github.com/ElemeFE/cooking'},
        {'value': 'mint-ui', 'link': 'https://github.com/ElemeFE/mint-ui'},
        {'value': 'vuex', 'link': 'https://github.com/vuejs/vuex'},
        {'value': 'vue-router', 'link': 'https://github.com/vuejs/vue-router'},
        {'value': 'babel', 'link': 'https://github.com/babel/babel'}
      ]
    },
    select (item) {
      console.log(item)
    },
    iconClick (ev) {
      console.log(ev)
    }
  }
}
</script>

<style>
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #34495e;
  color: #F5F7FA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Sans Condensed', Helvetica, Arial, sans-serif;
}

#left-aside, #right-aside {
  height: 100%;
  overflow: hidden;
}

#top-header {
  padding: 1rem;
  width: 100%;
}

#router-container {
  padding: 1rem;
}

.el-autocomplete {
  width: 100%;
}

.el-autocomplete-suggestion {
  border: 0;
}
</style>
